@import url('https://fonts.googleapis.com/css?family=Poppins');


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  background: black;
}

a {
    text-decoration: none;
    color: white;
}

/* MENU */

.menu-button {
  position: relative;
  width: 120px;
  height: 80px;
  z-index: 1000;
}

label {
  position: absolute;
  width: 120px;
  height: 80px;
  z-index: 9999;
  left: 0;
  top: 0;
  cursor: pointer;
}

input {
  display: none;
}

.menu-button span {
  height: 2px;
  width: 30px;
  background: white;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 30%;
  transition: 1s transform, 1s background-color;
  -webkit-transition: 1s transform, 1s background-color;
  -moz-transition: 1s transform, 1s background-color;
  -ms-transition: 1s transform, 1s background-color;
  -o-transition: 1s transform, 1s background-color;
}
.menu-button span::before,
.menu-button span::after {
  content: '';
  height: 2px;
  width: 30px;
  background: white;
  z-index: 100;
  position: absolute;
  transition: 1s transform, 1s background-color;
}

.menu-button span::before {
  transform: translateY(8px);
  -webkit-transform: translateY(8px);
  -moz-transform: translateY(8px);
  -ms-transform: translateY(8px);
  -o-transform: translateY(8px);
}
.menu-button span::after {
  transform: translateY(-8px);
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
}

.menu-left {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #424242;
  left: -100%;
  z-index: 1;
  opacity: 0.9;
  transition: 1s transform;
}

.menu-top {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80px;
  z-index: 1;
  top: 0;
  left: 0;
}

.logo {
  color: white;
  font-size: 2rem;
}

.menu-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
}

ul {
  margin: 0;
}

li {
  list-style: none;
  
}

.menu-item a {
  color: white;
  font-size: 2.5rem;
  text-decoration: none;
}

.menu-item {
  transition: 0.5s;
  -webkit-transition: 0.5s;
}

.menu-item:hover {
  border-bottom: 2px solid white; 
  transform: scale(1.1);
  transition: 0.5s;
  -webkit-transition: 0.5s;
}  



#check-menu:checked ~ .menu-button span {
  background-color: transparent;
  transform: rotate(135deg)  ;
  -webkit-transform: rotate(135deg)  ;
  -moz-transform: rotate(135deg)  ;
  -ms-transform: rotate(135deg)  ;
  -o-transform: rotate(135deg)  ;
}
#check-menu:checked ~ .menu-button span::before,
#check-menu:checked ~ .menu-button span::after {
  transition: 0.5s transform;
  -webkit-transition: 0.5s transform;
  -moz-transition: 0.5s transform;
  -ms-transition: 0.5s transform;
  -o-transition: 0.5s transform;
}
#check-menu:checked ~ .menu-button span::before {
  top: 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
}
#check-menu:checked ~ .menu-button span::after {
  top: 0;
  transform: translateY(0) rotate(90deg);
  -webkit-transform: translateY(0) rotate(90deg);
  -moz-transform: translateY(0) rotate(90deg);
  -ms-transform: translateY(0) rotate(90deg);
  -o-transform: translateY(0) rotate(90deg);
}


#check-menu:checked ~ .menu-left  {
  transform: translateX(100%);
  transition: 0.5s transform;
  -webkit-transition: 0.5s transform;
  -moz-transition: 0.5s transform;
  -ms-transition: 0.5s transform;
  -o-transition: 0.5s transform;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
}

/* content */

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: calc(100vh - 80px);
}

.contacts-text {
    text-align: center;
    color: white;
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 1.5rem;
}


@media screen and (max-width: 900px) {

}