* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    width: 100%;
}

/* PRELOADER */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000 url('images/main/preloader.gif') no-repeat center center;
}

/* MENU */

.menu-wrap {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    padding: 20px 0;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 2%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.menu-text {
    font-size: 26px;
    position: relative;
}
.menu a {
    text-decoration: none;
    color: #fff;
}
.menu-text::before,
.menu-text::after {
    content: '';
    background: url('images/main/romb.png') no-repeat center;
    width: 11px;
    height: 11px;
    position: absolute;
}
.menu-text::before {
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform:translateY();
}
.menu-text::after {
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform:translateY();
}

/* MASTER CONTENT BLOCK */

.master-content {
    margin: 180px auto 50px auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.master-photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.master-photo img {
    width: 100%;
    margin-top: 30px;
}



/* MEDIA */

@media screen and (max-width: 800px) {
    .menu { position: static; transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); }
    .menu-wrap { flex-direction: column; }
    .logo { order: -1; }
    .masters { margin: 20px 0; }
    .master-content { margin-top: 0px; }
    .additional-services .programm-text { width: 90% }
}