* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    width: 100%;
}

/* PRELOADER */

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000 url('images/main/preloader.gif') no-repeat center center;
}

/* MENU */

.menu-wrap {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    padding: 20px 0;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 2%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.menu-text {
    font-size: 26px;
    position: relative;
}
.menu a {
    text-decoration: none;
    color: #fff;
}
.menu-text::before,
.menu-text::after {
    content: '';
    background: url('images/main/romb.png') no-repeat center;
    width: 11px;
    height: 11px;
    position: absolute;
}
.menu-text::before {
    top: 50%;
    left: -10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform:translateY();
}
.menu-text::after {
    top: 50%;
    right: -10%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform:translateY();
}

/* MASTERS GALLERY */

.masters-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 120px;  
}

.masters-gallery-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.master-block {
    width: 410px;
    height: 410px;
    position: relative;
    
    
}

.master-image {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease-in-out    ;
    -webkit-transition: 0.5s ease-in-out    ;
    -moz-transition: 0.5s ease-in-out    ;
    -ms-transition: 0.5s ease-in-out    ;
    -o-transition: 0.5s ease-in-out    ;
}

.master-image-2 {
    opacity: 0;
}

.master-block:hover .master-image-1 {
    opacity: 0;
}

.master-block:hover .master-image-2 {
    opacity: 1;
}

/* MASTER-1 */

.master-1 .master-image-1 {
    background: url('images/masters/master_1/Maria_1.png') no-repeat center;
}

.master-1 .master-image-2 {
    background: url('images/masters/master_1/Maria_2.png') no-repeat center;
}

/* MASTER-2 */

.master-2 .master-image-1 {
    background: url('images/masters/master_2/Olesya_1.png') no-repeat center;
}

.master-2 .master-image-2 {
    background: url('images/masters/master_2/Olesya_2.png') no-repeat center;
}

/* MASTER-3 */

.master-3 .master-image-1 {
    background: url('images/masters/master_3/alisa_1.png') no-repeat center;
}

.master-3 .master-image-2 {
    background: url('images/masters/master_3/alisa_2.png') no-repeat center;
}

/* MASTER-4 */

.master-4 .master-image-1 {
    background: url('images/masters/master_4/anjelika_1.png') no-repeat center;
}

.master-4 .master-image-2 {
    background: url('images/masters/master_4/anjelika_2.png') no-repeat center;
}

/* MASTER-5 */

.master-5 .master-image-1 {
    background: url('images/masters/master_5/almira_1.png') no-repeat center;
}

.master-5 .master-image-2 {
    background: url('images/masters/master_5/almira_2.png') no-repeat center;
}

/* MASTER-6 */

.master-6 .master-image-1 {
    background: url('images/masters/master_6/Alina_1.png') no-repeat center;
}

.master-6 .master-image-2 {
    background: url('images/masters/master_6/Alina_2.png') no-repeat center;
}

/* MASTER-7 */

.master-7 .master-image-1 {
    background: url('images/masters/master_7/Valery_1.png') no-repeat center;
}

.master-7 .master-image-2 {
    background: url('images/masters/master_7/Valery_2.png') no-repeat center;
}

/* MASTER-8 */

.master-8 .master-image-1 {
    background: url('images/masters/master_8/alena_1.png') no-repeat center;
}

.master-8 .master-image-2 {
    background: url('images/masters/master_8/alena_2.png') no-repeat center;
}

/* MASTER-9 */

.master-9 .master-image-1 {
    background: url('images/masters/master_9/irma_1.png') no-repeat center;
}

.master-9 .master-image-2 {
    background: url('images/masters/master_9/irma_2.png') no-repeat center;
}

/* MASTER-10 */

.master-10 .master-image-1 {
    background: url('images/masters/master_10/Jenya_1.png') no-repeat center;
}

.master-10 .master-image-2 {
    background: url('images/masters/master_10/Jenya_2.png') no-repeat center;
}

/* MASTER-11 */

.master-11 .master-image-1 {
    background: url('images/masters/master_11/Alla_1.png') no-repeat center;
}

.master-11 .master-image-2 {
    background: url('images/masters/master_11/Alla_2.png') no-repeat center;
}

/* MASTER-12 */

.master-12 .master-image-1 {
    background: url('images/masters/master_12/Lilya_1.png') no-repeat center;
}

.master-12 .master-image-2 {
    background: url('images/masters/master_12/Lilya_2.png') no-repeat center;
}

/* MASTER-13 */

.master-13 .master-image-1 {
    background: url('images/masters/master_13/kira_1.png') no-repeat center;
}

.master-13 .master-image-2 {
    background: url('images/masters/master_13/kira_2.png') no-repeat center;
}

/* MASTER-14 */

.master-14 .master-image-1 {
    background: url('images/masters/master_14/liza_1-1.png') no-repeat center;
}

.master-14 .master-image-2 {
    background: url('images/masters/master_14/liza_2-1.png') no-repeat center;
}

/* MASTER-15 */

.master-15 .master-image-1 {
    background: url('images/masters/master_15/Zara_1.png') no-repeat center;
}

.master-15 .master-image-2 {
    background: url('images/masters/master_15/Zara_2.png') no-repeat center;
}

/* MASTER-16 */

.master-16 .master-image-1 {
    background: url('images/masters/master_16/anna2019_1.png') no-repeat center;
}

.master-16 .master-image-2 {
    background: url('images/masters/master_16/anna2019_2.png') no-repeat center;
    
}


@media screen and (max-width: 800px) {
    .menu { position: static; transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); }
    .menu-wrap { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
    .menu { padding-right: 0; }
    .logo { -webkit-box-ordinal-group: 0; -ms-flex-order: -1; order: -1; }
    .masters-gallery { margin-top: 0; }
    .masters { margin: 20px 0; }
}

@media screen and (max-width: 1500px) {
    .menu-wrap { width: 90%; }
}

@media screen and (max-width: 500px) {
    .master-block { width: 360px; height: 360px; }
    .menu { padding-right: 0; }
}



