* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #fff;
    width: 100%;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #000 url('images/main/preloader.gif') no-repeat center center;
}



.menu-wrap {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 50%;
    padding: 20px 0;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    padding-right: 2%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.programms-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    margin-top: 140px;  
}

.programm-image {
    width: 50%;
    height: 400px;
}

.programm-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 45%;
}

.programm-block {
    display: flex;
    justify-content: space-between;
    
}

.programm-header,
.programm-time,
.programm-price {
    color: #d1b434;
    font-family: georgia;
    font-style: italic;
    width: 100%;
}

.programm-header {
    font-size: 41px;
}
.programm-time {
    font-size: 18px;
}
.programm-info {
    font-size: 16px;
    font-family: Tahoma;
    width: 100%;
}
.programm-price {
    font-size: 24px;
}

/* programm-1 */

.programm-1-image {
    background: url('images/programms/express.png') no-repeat center;
}

/* programm-2 */

.programm-2-image {
    background: url('images/programms/rasslabl.png') no-repeat center;
}

/* programm-3 */

.programm-3-image {
    background: url('images/programms/double.png') no-repeat center;
}

/* programm-4 */

.programm-4-image {
    background: url('images/programms/blaj.png') no-repeat center;
}

/* programm-5 */

.programm-5-image {
    background: url('images/programms/bdsm.png') no-repeat center;
}

/* programm-6 */

.programm-6-image {
    background: url('images/programms/pip.png') no-repeat center;
}

.additional-services {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;

}

.additional-services .programm-text {
    font-size: 41px;
    font-style: italic;
    height: 100%;
}



@media screen and (max-width: 800px) {
    .menu { position: static; transform: translateX(0); -webkit-transform: translateX(0); -moz-transform: translateX(0); -ms-transform: translateX(0); -o-transform: translateX(0); }
    .menu-wrap { flex-direction: column; }
    .logo { order: -1; }
    .masters { margin: 20px 0; }
    .programms-list { margin-top: 0px; }
    .additional-services .programm-text { width: 90% }

}

@media screen and (max-width: 1000px) {
    .menu-wrap { width: 90%; }
    .programms-list { width: 100% }
    .programm-block { flex-direction: column; align-items: center; }
    .programm-image, .programm-text { width: 100%; margin-top: 20px;}
    .programm-text { width: 90%; align-items: center; text-align: center; justify-content: space-between; }
    .programm-time, .programm-info, .programm-price { margin-top: 15px; }
    .additional-services { justify-content: center; width: 100%; }
    .additional-services .programm-header, .additional-services .programm-price { margin-top: 15px; }
    .programm-info { text-align: justify; }
    


}





